DB_TYPE=json
COOKIE_NAME=placemarkCORE
COOKIE_PASSWORD=COOKIE_EMCRYPTION_KEY_HERE_MUST_BE_32_CHARCTERS_OR_MORE
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=User
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

