<form action="/dashboard/addplacemark" method="POST">
  <div class="field">
    <label class="label">Placemark name</label>
    <input class="input" type="text" placeholder="Enter placemark name" name="name" />
    <label class="label">Category</label>
    <div class="control">
      <div class="select">
        <select name="category">
          <option value="">Select a category</option>
          {{#if categories}}
            {{#each categories}}
              <option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
            {{/each}}
          {{/if}}
        </select>
      </div>
    </div>
    <label class="label">Description</label>
    <input class="input" type="text" placeholder="Enter placemark description" name="description" />
    <label class="label">Longitude</label>
    <input class="input" type="text" placeholder="Enter Longitude" name="longitude" />
    <label class="label">Latitude</label>
    <input class="input" type="text" placeholder="Enter Latitude" name="latitude" />
  </div>
  <button class="button is-link">Add placemark</button>
</form>