<aside class="menu admin-sidebar">
  <p class="menu-label">Admin</p>
  <ul class="menu-list">
    <li><a href="/admin" class="is-block">Overview</a></li>
    <li><a href="/admin/users" class="is-block">Manage Users</a></li>
    <li><a href="/admin/placemarks" class="is-block">Manage Placemarks</a></li>
  </ul>
</aside>