{{#each placemarks}}
    <div class="box box-link-hover-shadow">
        <h2 class="title">
            Name: {{name}} Longitude: {{longitude}} Latitude: {{latitude}}
        </h2>
    </div>
{{/each}}
